<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "bet.pand"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. panda-bet.com</name>

    <description>
        Ставки  на спорт/киберспорт
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#0A58AC" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/f4e89082f0afccb85687a9a05ace084e.png" density="ldpi" />
        <icon src="res/android/icon/7090cbcf1c7b194c2d438be4d154cfd5.png" density="mdpi" />
        <icon src="res/android/icon/1616cf1dc830490a471216f336eea222.png" density="hdpi" />
        <icon src="res/android/icon/3c009676ee6d90976ab0f325b6817227.png" density="xhdpi" />
        <icon src="res/android/icon/8c5496a32aa49a785660c59b950ee16d.png" density="xxhdpi" />
        <icon src="res/android/icon/c264ca8128c2b5867808e950e4d8b7fd.png" density="xxxhdpi" />

        <splash src="res/android/screen/bbec9dabff2261ecb7054754d81c8cfe.png" density="port-hdpi"/>
        <splash src="res/android/screen/f443af97718cdde4bb8333fbbbe571e3.png" density="port-ldpi"/>
        <splash src="res/android/screen/7895cd9cf53deafb6a2e2320503d18e7.png" density="port-mdpi"/>
        <splash src="res/android/screen/87803be8d50fd6583360f5e18f073f43.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/707f5056218121013376e41f24b83eab.png" width="180" height="180" />
        <icon src="res/ios/icon/3e19df9f1e53bf342a8ee66de50dad4c.png" width="60" height="60" />
        <icon src="res/ios/icon/409ace6cd74095a77a55b799037359ad.png" width="120" height="120" />
        <icon src="res/ios/icon/33898c9465b1be646bb2f2d5880ee09c.png" width="76" height="76" />
        <icon src="res/ios/icon/77a2e0da892c4adc0f1e49fc8a00f5be.png" width="152" height="152" />
        <icon src="res/ios/icon/fee3dcfce094109e207e3000145eb972.png" width="57" height="57" />
        <icon src="res/ios/icon/7e2e932a514286998991fc22ceb738a6.png" width="114" height="114" />
        <icon src="res/ios/icon/e52339d3dd1a1654a37de3f7503f8f3c.png" width="72" height="72" />
        <icon src="res/ios/icon/8de9fb8d3c8a82953f507996b1136b8d.png" width="144" height="144" />
        <icon src="res/ios/icon/45d857118d44c45517e84c94c9cfe357.png" width="167" height="167" />
        <icon src="res/ios/icon/2c67c1f3115ad24313a67acf4f98c8c9.png" width="29" height="29" />
        <icon src="res/ios/icon/e4faca0d7dc12138e8a86e3bcefbbe55.png" width="58" height="58" />
        <icon src="res/ios/icon/edee81e0aa3da02b34101e8fc5f244c2.png" width="87" height="87" />
        <icon src="res/ios/icon/479b74dfb5f1366a04352ebaadb7570d.png" width="167" height="167" />

        <splash src="res/ios/screen/6dfd55b8885dde15688460fe5a808f15.png" />
        <splash src="res/ios/screen/c379d26b46ab230360086dfff324ddf2.png" />
        <splash src="res/ios/screen/37b1a64da6521f7b83d283a273bdeafc.png" />
        <splash src="res/ios/screen/e06feb2edf0867927353f804058f7a5e.png" />
        <splash src="res/ios/screen/a4be3cfaa6427075712d2e8d28dde922.png" />
        <splash src="res/ios/screen/c85669b871df7cc428b108af8cfd1f29.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/3e54af16bd5aa709b991c2548fc7ed99.png" target="StoreLogo" />
        <icon src="res/windows/icon/e5411e5b1ae8172638ef067736cb36a6.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/101a704142a612e10df6b7fdb5cc65d0.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/c29fa539f944887c920c1f144634a95e.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/4f0443eebdc2fda7bd94e3c34be4922c.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/c251de2d65474d7a4015e3ede15f2209.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/e35e2a72c4b051601a4b931fccd64e3e.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/b9e73a98a51eba7b46260f982f8fd1ea.png" target="SplashScreen"/>
        <splash src="res/windows/screen/4448d0fb753d854da0f0274f80676167.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>